* {
  margin: 0%;
  padding: 0%;
}

#new {
  height: 50vh;
  width: 100%;
  color: #22333b;
  background-color: #3c6e71;
  display: flex;
  align-items: center;
  justify-content: center;
}

#enter {
  background-color: #284b63;
  color: #ffffff;
  height: 2rem;
  width: 4rem;
  border-radius: 4px;
}



#inputt {
  height: 2rem;
  width: 10rem;
  outline: none;
  border-radius: 4px;
  text-align: center;
  font-family: cursive;
  background-color: rgb(247, 250, 252);
}



#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #ebf5ee;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  background-color: #353535;
  opacity: 0.9;
}

#value {
  height: 41vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #8598ad;
  background-color: #22333b;
  font-family: cursive;

}